In [1]:
import numpy as np
import pandas as pd
train_df = pd.read_csv('Beer Train Data Set.csv')
test_df = pd.read_csv('Beer Test Data Set.csv')

In [2]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185643 entries, 0 to 185642
Data columns (total 10 columns):
ABV                    170513 non-null float64
Brewing Company        185643 non-null int64
Food Paring            185643 non-null object
Glassware Used         185643 non-null object
Beer Name              185643 non-null int64
Ratings                185643 non-null object
Style Name             185643 non-null object
Cellar Temperature     178862 non-null object
Serving Temperature    185450 non-null object
Score                  185643 non-null float64
dtypes: float64(2), int64(2), object(6)
memory usage: 14.2+ MB

In [3]:
train_df.isnull().sum()

ABV                    15130
Brewing Company            0
Food Paring                0
Glassware Used             0
Beer Name                  0
Ratings                    0
Style Name                 0
Cellar Temperature      6781
Serving Temperature      193
Score                      0
dtype: int64

In [4]:
train_df.isnull().sum()[((train_df.isnull().sum()) >= (70*train_df.shape[0])/100)]

Series([], dtype: int64)

In [5]:
train_df_og = train_df.copy()

In [6]:
test_df_og = test_df.copy()

In [7]:
train_df.dropna(inplace=True)

In [8]:
test_df.isnull().sum()

ABV                     1664
Brewing Company            0
Food Paring                0
Glassware Used             0
Beer Name                  0
Ratings                    0
Style Name                 0
Cellar Temperature       755
Serving Temperature       21
Score                  20628
dtype: int64

In [9]:
test_df['ABV'].fillna(test_df['ABV'].mode()[0],inplace=True)
test_df['Serving Temperature'].fillna(test_df['Serving Temperature'].mode()[0],inplace=True)
test_df['Cellar Temperature'].fillna(test_df['Cellar Temperature'].mode()[0],inplace=True)

In [10]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 164236 entries, 0 to 185642
Data columns (total 10 columns):
ABV                    164236 non-null float64
Brewing Company        164236 non-null int64
Food Paring            164236 non-null object
Glassware Used         164236 non-null object
Beer Name              164236 non-null int64
Ratings                164236 non-null object
Style Name             164236 non-null object
Cellar Temperature     164236 non-null object
Serving Temperature    164236 non-null object
Score                  164236 non-null float64
dtypes: float64(2), int64(2), object(6)
memory usage: 13.8+ MB

In [11]:
train_df.head()

,ABV,Brewing Company,Food Paring,Glassware Used,Beer Name,Ratings,Style Name,Cellar Temperature,Serving Temperature,Score
0,6.5,8929,"(Curried,Thai)Cheese(pepperyMontereyPepperJack...","PintGlass(orBecker,Nonic,Tumbler),Mug(orSeidel...",15121,22,AmericanIPA,40-45,45-50,3.28
1,5.5,13187,"(PanAsian)Cheese(earthyCamembert,Fontina,nutty...","PintGlass(orBecker,Nonic,Tumbler),Mug(orSeidel...",59817,1,AmericanPaleAle(APA),35-40,40-45,3.52
2,8.1,6834,"Meat(Pork,Poultry)","PintGlass(orBecker,Nonic,Tumbler),Mug(orSeidel...",32669,3,IrishRedAle,35-40,40-45,4.01
4,6.0,10417,"Meat(Poultry,Fish,Shellfish)",PilsenerGlass(orPokal),124087,1,EuroPaleLager,35-40,40-45,2.73
5,7.4,3380,"(Italian,German)Cheese(nuttyAsiago,Colby,Parme...","Flute,PilsenerGlass(orPokal),Mug(orSeidel,Stein)",9936,1,MaibockHellesBock,40-45,45-50,3.86

In [12]:
import re

In [13]:
GlasswareUsed = []
items = train_df['Glassware Used']
for item in train_df['Glassware Used']:
    review = re.sub(r" ?\([^)]+\)", "", item)
    review = review.lower() 
    review = review.split(',')
    review = ' '.join(review)
    GlasswareUsed.append(review)    
#cv = CountVectorizer(max_features = 1500)
#GlasswareUsed = cv.fit_transform(GlasswareUsed).toarray()

In [14]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 1500)
gu = cv.fit_transform(GlasswareUsed).toarray()

In [15]:
df=pd.DataFrame(gu)

In [16]:
unique_words = list(set(" ".join(GlasswareUsed).split(" ")))

In [17]:
df.columns = unique_words

In [22]:
GlasswareUsed1 = []
items = test_df['Glassware Used']
for item in test_df['Glassware Used']:
    review1 = re.sub(r" ?\([^)]+\)", "", item)
    review1 = review1.lower() 
    review1 = review1.split(',')
    review1 = ' '.join(review1)
    GlasswareUsed1.append(review1)    
cv = CountVectorizer(max_features = 1500)
testgu = cv.fit_transform(GlasswareUsed1).toarray()
df_testgu=pd.DataFrame(testgu)
unique_words1 = list(set(" ".join(GlasswareUsed1).split(" ")))
df_testgu.columns = unique_words1

In [25]:
df_testgu.head()

,snifter,pintglass,weizenglass,tulip,pilsenerglass,goblet,mug,flute,oversizedwineglass,stange
0,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0
2,0,0,0,1,0,0,1,1,0,0
3,1,0,0,0,1,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0

In [24]:
df_testgu.drop(columns=['none','yet'],inplace=True)

In [26]:
FoodParing = []
for i in train_df['Food Paring'] :
    review = re.sub(r" ?\([^)]+\)", ",", i)
    review = review.lower() 
    review=review.split(',')
    review = ' '.join(review)
    FoodParing.append(review)

In [27]:
unique_words_f = list(set(" ".join(FoodParing).split(" ")))

In [28]:
unique_words_f = list(set(" ".join(FoodParing).split(" ")))

In [29]:
unique_words_f

['', 'none', 'cheese', 'yet', 'general', 'meat']

In [30]:
unique_words_f = unique_words_f.remove('')
unique_words_f

In [31]:
cv = CountVectorizer(max_features = 1500)
fp = cv.fit_transform(FoodParing).toarray()

In [32]:
df_fp=pd.DataFrame(fp)

In [34]:
df_fp.columns=['Cheese', '1', 'meat', 'yet', 'general']

In [35]:
FoodParing = []
for i in test_df['Food Paring'] :
    review = re.sub(r" ?\([^)]+\)", ",", i)
    review = review.lower() 
    review=review.split(',')
    review = ' '.join(review)
    FoodParing.append(review)
cv = CountVectorizer(max_features = 1500)
fp = cv.fit_transform(FoodParing).toarray()
df_testfp=pd.DataFrame(fp)
df_testfp.columns=[ 'Cheese', '1', 'meat', 'yet', 'general']

In [36]:
train_df.reset_index(inplace=True)

In [37]:
result = pd.concat([train_df,df,df_fp],axis=1)

In [38]:
test_result = pd.concat([test_df,df_testgu,df_testfp],axis=1)

In [39]:
result.isnull().sum()

level_0                0
index                  0
ABV                    0
Brewing Company        0
Food Paring            0
Glassware Used         0
Beer Name              0
Ratings                0
Style Name             0
Cellar Temperature     0
Serving Temperature    0
Score                  0
snifter                0
pintglass              0
weizenglass            0
tulip                  0
pilsenerglass          0
goblet                 0
mug                    0
flute                  0
oversizedwineglass     0
stange                 0
Cheese                 0
1                      0
meat                   0
yet                    0
general                0
dtype: int64

In [40]:
test_result.isnull().sum()

ABV                        0
Brewing Company            0
Food Paring                0
Glassware Used             0
Beer Name                  0
Ratings                    0
Style Name                 0
Cellar Temperature         0
Serving Temperature        0
Score                  20628
snifter                    0
pintglass                  0
weizenglass                0
tulip                      0
pilsenerglass              0
goblet                     0
mug                        0
flute                      0
oversizedwineglass         0
stange                     0
Cheese                     0
1                          0
meat                       0
yet                        0
general                    0
dtype: int64

In [41]:
Cel_Tmp_map = {
'35-40': 1,
'40-45': 2,
'45-50': 3}

In [42]:
result['CellarTemperature_New'] = result['Cellar Temperature'].map(Cel_Tmp_map)

In [43]:
result['Serving Temperature'].unique()

array(['45-50', '40-45', '50-55', '35-40'], dtype=object)

In [44]:
test_result['CellarTemperature_New'] = test_result['Cellar Temperature'].map(Cel_Tmp_map)

In [45]:
Ser_Tmp_map = {'45-50' : 1, '40-45':2, '35-40':3, '50-55':4}

In [46]:
result['ServingTemperature_New'] = result['Serving Temperature'].map(Ser_Tmp_map)

In [47]:
test_result['ServingTemperature_New'] = test_result['Serving Temperature'].map(Ser_Tmp_map)

In [49]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
result['StyleName_New'] = le.fit_transform(result['Style Name'])
test_result['StyleName_New'] = le.fit_transform(test_result['Style Name'])

In [52]:
le = LabelEncoder()
result['BrewingCompany_New'] = le.fit_transform(result['Brewing Company'])
test_result['BrewingCompany_New'] = le.fit_transform(test_result['Brewing Company'])

In [54]:
le = LabelEncoder()
result['Beer_New'] = le.fit_transform(result['Beer Name'])
test_result['Beer_New'] = le.fit_transform(test_result['Beer Name'])

In [55]:
result.columns

Index(['level_0', 'index', 'ABV', 'Brewing Company', 'Food Paring',
       'Glassware Used', 'Beer Name', 'Ratings', 'Style Name',
       'Cellar Temperature', 'Serving Temperature', 'Score', 'snifter',
       'pintglass', 'weizenglass', 'tulip', 'pilsenerglass', 'goblet', 'mug',
       'flute', 'oversizedwineglass', 'stange', 'Cheese', '1', 'meat', 'yet',
       'general', 'CellarTemperature_New', 'ServingTemperature_New',
       'StyleName_New', 'BrewingCompany_New', 'Beer_New'],
      dtype='object')

In [56]:
test_result.columns

Index(['ABV', 'Brewing Company', 'Food Paring', 'Glassware Used', 'Beer Name',
       'Ratings', 'Style Name', 'Cellar Temperature', 'Serving Temperature',
       'Score', 'snifter', 'pintglass', 'weizenglass', 'tulip',
       'pilsenerglass', 'goblet', 'mug', 'flute', 'oversizedwineglass',
       'stange', 'Cheese', '1', 'meat', 'yet', 'general',
       'CellarTemperature_New', 'ServingTemperature_New', 'StyleName_New',
       'BrewingCompany_New', 'Beer_New'],
      dtype='object')

In [57]:
result = result.drop(columns=['level_0', 'index', 'Brewing Company', 'Food Paring',
       'Glassware Used', 'Beer Name','Cellar Temperature', 'Serving Temperature', 'Style Name','1'])

In [58]:
test_result = test_result.drop(columns=['Brewing Company', 'Food Paring',
       'Glassware Used', 'Beer Name','Cellar Temperature', 'Serving Temperature', 'Style Name','1'])

In [59]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164236 entries, 0 to 164235
Data columns (total 22 columns):
ABV                       164236 non-null float64
Ratings                   164236 non-null object
Score                     164236 non-null float64
snifter                   164236 non-null int64
pintglass                 164236 non-null int64
weizenglass               164236 non-null int64
tulip                     164236 non-null int64
pilsenerglass             164236 non-null int64
goblet                    164236 non-null int64
mug                       164236 non-null int64
flute                     164236 non-null int64
oversizedwineglass        164236 non-null int64
stange                    164236 non-null int64
Cheese                    164236 non-null int64
meat                      164236 non-null int64
yet                       164236 non-null int64
general                   164236 non-null int64
CellarTemperature_New     164236 non-null int64
ServingTemperature_New    164236 non-null int64
StyleName_New             164236 non-null int32
BrewingCompany_New        164236 non-null int64
Beer_New                  164236 non-null int64
dtypes: float64(2), int32(1), int64(18), object(1)
memory usage: 26.9+ MB

In [67]:
result['Ratings'] = result.Ratings.str.replace(',','').astype('int')

In [ ]:
test_result['Ratings'] = test_result.Ratings.str.replace(',','').astype('int')

In [69]:
test_result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20628 entries, 0 to 20627
Data columns (total 22 columns):
ABV                       20628 non-null float64
Ratings                   20628 non-null int32
Score                     0 non-null float64
snifter                   20628 non-null int64
pintglass                 20628 non-null int64
weizenglass               20628 non-null int64
tulip                     20628 non-null int64
pilsenerglass             20628 non-null int64
goblet                    20628 non-null int64
mug                       20628 non-null int64
flute                     20628 non-null int64
oversizedwineglass        20628 non-null int64
stange                    20628 non-null int64
Cheese                    20628 non-null int64
meat                      20628 non-null int64
yet                       20628 non-null int64
general                   20628 non-null int64
CellarTemperature_New     20628 non-null int64
ServingTemperature_New    20628 non-null int64
StyleName_New             20628 non-null int32
BrewingCompany_New        20628 non-null int64
Beer_New                  20628 non-null int64
dtypes: float64(2), int32(2), int64(18)
memory usage: 3.3 MB

In [70]:
result.head()

,ABV,Ratings,Score,snifter,pintglass,weizenglass,tulip,pilsenerglass,goblet,mug,...,stange,Cheese,meat,yet,general,CellarTemperature_New,ServingTemperature_New,StyleName_New,BrewingCompany_New,Beer_New
0,6.5,22,3.28,0,0,1,0,0,1,0,...,0,1,1,0,0,2,1,12,8370,12287
1,5.5,1,3.52,0,0,1,0,0,1,0,...,0,1,1,0,0,1,2,14,12329,48529
2,8.1,3,4.01,0,0,1,0,0,1,0,...,0,0,1,0,0,1,2,58,6404,26361
3,6.0,1,2.73,0,0,0,0,1,0,0,...,0,0,1,0,0,1,2,46,9764,100964
4,7.4,1,3.86,1,0,1,0,1,0,0,...,0,1,1,0,0,2,1,67,3184,8118

In [71]:
test_result.head()

,ABV,Ratings,Score,snifter,pintglass,weizenglass,tulip,pilsenerglass,goblet,mug,...,stange,Cheese,meat,yet,general,CellarTemperature_New,ServingTemperature_New,StyleName_New,BrewingCompany_New,Beer_New
0,6.2,3,NaN,0,0,0,0,0,1,0,...,0,1,1,0,0,2,1,12,4790,3980
1,5.3,20,NaN,0,0,0,0,0,1,0,...,0,1,1,0,0,2,1,16,4639,9966
2,7.0,0,NaN,0,0,0,1,0,0,1,...,0,1,0,0,0,3,1,21,4035,1929
3,5.2,2,NaN,1,0,0,0,1,0,0,...,0,0,1,0,0,1,2,90,5401,5602
4,8.1,5,NaN,0,0,0,0,0,1,0,...,0,1,1,0,0,2,1,16,4907,18433

In [189]:
result.columns

Index(['ABV', 'Ratings', 'Score', 'flute', 'goblet', 'pilsenerglass',
       'oversizedwineglass', 'snifter', 'stange', 'mug', 'weizenglass',
       'tulip', 'pintglass', 'Cheese', 'meat', 'yet', 'general',
       'CellarTemperature_New', 'ServingTemperature_New', 'StyleName_New',
       'BrewingCompany_New', 'Beer_New'],
      dtype='object')

,, 'Beer_New','BrewingCompany_New'

In [108]:
x= result[['ABV', 'Ratings', 'CellarTemperature_New', 'ServingTemperature_New', 'flute', 'goblet', 'pilsenerglass',
           'oversizedwineglass', 'snifter', 'stange', 'mug', 'weizenglass','tulip', 'pintglass', 'Cheese', 'meat', 'yet', 'general',
           'StyleName_New']]
y= result.Score

In [73]:
import seaborn as sns

In [ ]:
#sns.pairplot(result)

In [ ]:
[['ABV', 'Ratings', 'flute', 'goblet', 'pilsenerglass',
       'oversizedwineglass', 'snifter', 'stange', 'mug', 'weizenglass',
       'tulip', 'pintglass', 'Cheese', 'meat', 'yet', 'general',
       'CellarTemperature_New', 'ServingTemperature_New', 'StyleName_New',
       'BrewingCompany_New', 'Beer_New']]

In [110]:
testdata=test_result[['ABV', 'Ratings', 'CellarTemperature_New', 'ServingTemperature_New', 'flute', 'goblet', 'pilsenerglass',
                      'oversizedwineglass', 'snifter', 'stange', 'mug', 'weizenglass','tulip', 'pintglass', 'Cheese', 'meat', 'yet', 'general'
                      ,'StyleName_New']]

In [75]:
#from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [76]:
#sc_x = StandardScaler()
#X = sc_x.fit_transform(x)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int32, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int32, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [ ]:
testdata

In [332]:
#x_testdata = sc_x.fit_transform(testdata)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int32, int64, float64, object were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int32, int64, float64, object were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [111]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3, random_state=0)

In [83]:
import xgboost
from xgboost import XGBRegressor

In [89]:
parameters = {'nthread':[4], #when use hyperthread, xgboost may become slower
              'objective':['reg:linear'],
              'learning_rate': [0.03, 0.05, .07,0.1,0.2,0.3], #so called `eta` value
              'max_depth': [5, 6, 7,9,9,10,11],
              'min_child_weight': [4,2,3,5,6],
              'silent': [1],
              'subsample': [0.7],
              'colsample_bytree': [0.7],
              'n_estimators': [10,50,70,100,130,150,170,200,300,400,500]}

In [90]:
from sklearn.model_selection import RandomizedSearchCV
r_search= RandomizedSearchCV(XGBRegressor(),parameters,cv=10,n_jobs=-1)

In [91]:
r_search.fit(x_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

RandomizedSearchCV(cv=10, error_score='raise-deprecating',
          estimator=XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, importance_type='gain',
       learning_rate=0.1, max_delta_step=0, max_depth=3,
       min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
       nthread=None, objective='reg:linear', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=True,
       subsample=1),
          fit_params=None, iid='warn', n_iter=10, n_jobs=-1,
          param_distributions={'nthread': [4], 'objective': ['reg:linear'], 'learning_rate': [0.03, 0.05, 0.07, 0.1, 0.2, 0.3], 'max_depth': [5, 6, 7, 9, 9, 10, 11], 'min_child_weight': [4, 2, 3, 5, 6], 'silent': [1], 'subsample': [0.7], 'colsample_bytree': [0.7], 'n_estimators': [10, 50, 70, 100, 130, 150, 170, 200, 300, 400, 500]},
          pre_dispatch='2*n_jobs', random_state=None, refit=True,
          return_train_score='warn', scoring=None, verbose=0)

In [92]:
print(r_search.best_score_)
print(r_search.best_params_)

0.9327180069812134
{'subsample': 0.7, 'silent': 1, 'objective': 'reg:linear', 'nthread': 4, 'n_estimators': 170, 'min_child_weight': 5, 'max_depth': 9, 'learning_rate': 0.05, 'colsample_bytree': 0.7}

In [112]:
model = XGBRegressor(subsample = 0.7, silent= 1, nthread= 4, n_estimators= 170, min_child_weight= 4,
                     max_depth= 9, learning_rate= 0.05, colsample_bytree= 0.7)
model.fit(x_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=0.7, gamma=0, importance_type='gain',
       learning_rate=0.05, max_delta_step=0, max_depth=9,
       min_child_weight=4, missing=None, n_estimators=170, n_jobs=1,
       nthread=4, objective='reg:linear', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=1,
       subsample=0.7)

In [113]:
y_pred = model.predict(x_test)

In [114]:
from sklearn.metrics import mean_squared_error,r2_score
rmse=np.sqrt(mean_squared_error(y_test,y_pred))
print(rmse)

0.3504002416606343

In [115]:
r2_score(y_test,y_pred)

0.9322255215724662

In [116]:
submission = model.predict(testdata)

In [117]:
submission

array([3.825375  , 3.782876  , 0.03023109, ..., 3.777929  , 3.7732244 ,
       3.8046453 ], dtype=float32)

In [118]:
submission = np.round(submission,2)

In [119]:
submission=pd.DataFrame(submission)

In [120]:
submission.rename(columns={0:'Score'},inplace=True)

In [121]:
%pwd

'C:\\Users\\h199185\\Downloads\\Analytics India Hackthon\\00-Inputs\\How-To-Choose-The-Perfect-Beer-Data-Set'

In [122]:
export_excel = submission.to_excel (r'C:\\Users\\h199185\\Downloads\\Analytics India Hackthon\\00-Inputs\\How-To-Choose-The-Perfect-Beer-Data-Set\\Beer_Sample_Submission.xlsx', 
                                    index = None, header=True)